html {
  min-height: 100%;
  /* position: relative; */
}

img {
  /* margin: 30px; */
  text-align: center;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.content img {
  max-width: 600px;
  height: auto;
  display: block;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

h2 {
  font-size: 20px;
  /* color:#26428b; */
  color:blue;
}

.content h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  /* color: #38761d; */
  color: green;
}

.navbar-brand a {
  color:#777 !important
}

.navbar-brand a:hover{
  color:#333 !important

}

.navbar-brand a:hover{
  text-decoration-line: none;

}


.content p {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 16px;
  line-height: 28px;
  color: #666;
  margin-bottom: 20px;
}

.coupleReferences {
  font-size: 14px !important;
  font-style: italic;
}

.footnote {
  font-size: 12px !important;
  font-style: italic;
  color: #888;
}
/* this one gets overruled */

.date {
  font-size: 16px;
  color: gray;
  padding-top: 20px;
}

/* browser only */
@media screen and (min-width: 768px) {
  .content {
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    max-width: 700px;
  }
  
  .content img {
    max-height: 40vh;
    object-fit: contain;
  }
  }

/* mobile only */
@media screen and (max-width: 768px) {
  /* on browser the date should align with the header title, on mobile it should align with the article content */
  .date {
    margin-left: 10px;
  }

  .content {
    margin-left: 5%;
    margin-right: 5%;
    overflow-y: hidden;
  }
}

h1 {
  font-size: 28px;
  margin: 20px 0px;
}

/* if you change the ul you'll change the header menu topright as well */
/* ul {
} */

.content li {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 14px;
  line-height: 22px;
  color: #666;
  margin: 6px 0;
}

.content ul {
  margin: 24px 0;
}

/* grid stuff */
.wrapper {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 10px;
}

.grid-date {
  font-size: 16px;
  color: gray;
}
.grid-short-intro {
  font-size: 16px;
  line-height: 30px;
}
/* end grid stuff */

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
  margin-top: auto;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

.public-backlog p{
  font-size:16px; 
}

.sub-bullets{
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  padding-left: 20px;
  margin: 16px 0;
}

.books-pics{
  margin-bottom:60px;

}

/* dit is een test om te zien of ik de font op mobile op de homepage kan oplossen */
/* @media (max-width: 768px) { */
/* .grid-short-intro{ */
  /* font-size: 30px;
  background-color: yellow; */
/* } */
/* } */



/* dit is voor de popup */


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
} 

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* tot hier voor de popup */
